.wrapper{
    display : grid;
    grid-template-rows : 100px 100px 100px;
    grid-template-columns : 100px 100px 100px;
}
.item1{
    grid-row-start : 1;
    grid-row-end : 4;
    grid-column-start : 1;
    grid-column-end : 2;    
    background-color : black;
    text-align :center;
}
.item2{
    grid-row-start : 1;
    grid-row-end : 2;
    grid-column-start : 2;
    grid-column-end : 3;  
    background-color : purple;
    text-align :center;  
}
.item3{
    grid-row-start : 1;
    grid-row-end : 2;
    grid-column-start : 3;
    grid-column-end : 4;
    background-color : blue;    
    text-align :center;
}
.item4{
    grid-row-start : 2;
    grid-row-end : 3;
    grid-column-start : 2;
    grid-column-end : 3;
    background-color : green;
    text-align :center;    
}
.item5{
    grid-row-start : 2;
    grid-row-end : 3;
    grid-column-start : 3;
    grid-column-end : 4;   
    background-color : yellow; 
    text-align :center;
}
.item6{
    grid-row-start : 3;
    grid-row-end : 4;
    grid-column-start : 2;
    grid-column-end : 4;
    background-color : red;
    text-align :center;
}



